/* header styles */

.header__main__block {
    display: flex;
    justify-content: space-around;
    padding: 5px 50px;
}

.header__logo {
    display: flex;
}

.icon-burger {
    width: 28px;
    height: 30px;
    margin-right: 15px;
}

.header__title {
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 700;
    color: #F17228;
    margin-right: 30px;
}

.icon-location {
    width: 14px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.header__nav {
    display: flex;
}

.nav__text {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 700;
    color: #424242;
}

.header__buttons__block  {
    display: flex;
}

.btn__link {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 700;
    color: #424242;
    margin-right: 30px;
    background-color: inherit;
    border: none;
    padding: 24px 14px;
}

.btn__link:last-child {
    margin-right: 0;
}

.icon-search {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.btn__link__orange {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 700;
    color: #FFB800;
    background-color: inherit;
    border: none;
    padding: 24px 14px;
    border-radius: 15px;
}

.icon-user {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/* starving styles */

.starving {
    background-color: #FFB30E;
    padding: 50px 500px 100px 200px ;
}

.starving__title {
    font-family: Source Sans Pro;
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.starving__text {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #504f4f;
}

.starving__another__block {
    background-color: #FFFFFF;
    border-radius: 18px;
    padding: 30px 20px;
}

.delivory__btn {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #F17228;
    background-color: #F17228 10%; 
    border: none;
    padding: 14px 14px;
    border-radius: 15px;
}

.icon-delivery {
    width: 23px;
    height: 18px;
    margin-right: 10px;
}

.delivory__btn__grey {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #757575;
    background-color: inherit;
    border: none;
    padding: 14px 14px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.icon-pickup {
    width: 23px;
    height: 18px;
    margin-right: 10px;
}

.starving__address__block {
    display: flex;
}

.starving__find {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #9E9E9E;
    margin-right: 400px ;
}

.icon-red__location {
    width: 23px;
    height: 18px;
}

.address__btn {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    background-image: linear-gradient(#FF7A7A , #F65900);
    border: none;
    border-radius: 13px;
    padding: 21px 48px;
}

.icon-white__search {
    width: 23px;
    height: 18px;
    margin-right: 10px;
}

.starving__svg {
    display: flex;
    justify-content: right;
}

/* greys styles */


.grey__list {
    margin-top: 80px;
    display: flex;
}

.grey__item {
   margin-right: 10px; 
}

.grey__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #424242;
}

.grey__text {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 700;
    color: #F65900;
    background-color:#F17228 50%;
    border-radius: 13px; 
    padding: 8px 16px;
    margin-bottom: 25px;
}

/* how styles */

.how__title {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 700;
    color: #F17228;
}

.how__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #F17228;
}

.how__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: grey;
}

/* popular styles */

.popular__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}

.popular__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}

.popular__link {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFB30E;
}

.popular__text {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}

.popular__btn {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FFB30E;
}

/* featured styles */

.featured__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}

.features__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #212121;
}

.features__second__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FFB30E;
}

.features__btn__red {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #F17228; 
}

.features__btn {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #79B93C;
}

.features__last__btn {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FFB30E;
}

/* search styles */

.search__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}

.search__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #424242; 
}

/* comfortable styles */

.comfortable {
    background-color: #FEEFD0;
}

.comfortable__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FD7800;
}

.comfortable__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FD7800;
}

.comfortable__second__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FD7800;
}

/* sandwiches styles */

.left__sandwiches__litle {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FD7800;
}

.left__sandwiches__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #616161;
}

.left__sandwiches__btn {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FD7800;
}

/* chicken styles */

.left__chicken__litle {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FD7800;
}

.left__chicken__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #616161;
}

.left__chicken__btn {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FD7800;
}

/* pizza styles */

.left__pizza__litle {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FD7800; 
}

.left__pizza__text {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #616161;
}

.left__pizza__btn {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FD7800;
}

/* ready styles */

.ready {
    background-image: url(/images/food.jpg);
}

.ready__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.ready__block {
    background-image: url(/images/food.jpg);
}

.ready__btn {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FD7800;
}

/* footer styles */

.footer {
    background-color: #212121;
}

.city__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.city__link {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 500;
    color: #F5F5F5;
}

/* footer company styles */

.company__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF; 
}

.company__link {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 500;
    color: #F5F5F5;
}

/* footer contact styles */

.contact__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.contact__link {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 500;
    color: #F5F5F5;
}

/* footer legal styles */

.legal__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.legal__link {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 500;
    color: #F5F5F5;
}

/* footer follow styles */

.follow__title {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #F5F5F5;
}

.follow__text {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #BBBBBB;
}

.follow__way {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #ADADAD;
}

.follow__btn {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FD7800;
}

/* footer copy left styles */

.copy__left__text {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #F5F5F5;
}

/* footer copy right styles */

.copy__right__text {
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 500;
    color: #F5F5F5;
}