.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-app__store {
  width: 0.8486328125em;
}

.icon-big__location {
  width: 0.8701171875em;
}

.icon-big__meals {
  width: 1.0048828125em;
}

.icon-big__order {
  width: 0.8701171875em;
}

.icon-big__pay {
  width: 0.796875em;
}

.icon-burger {
  width: 0.93359375em;
}

.icon-delivery {
  width: 1.599609375em;
}

.icon-firstphone {
  width: 0.7548828125em;
}

.icon-google__play {
  width: 0.900390625em;
}

.icon-location {
  width: 0.7890625em;
}

.icon-mail {
  width: 1.2626953125em;
}

.icon-noodles {
  width: 1.126953125em;
}

.icon-orange__arrow {
  width: 0.642578125em;
}

.icon-pickup {
  width: 0.841796875em;
}

.icon-red__location {
  width: 0.6923828125em;
}

.icon-right__arrow {
  width: 0.6923828125em;
}

.icon-secondphone {
  width: 0.578125em;
}

.icon-star {
  width: 1.0419921875em;
}

.icon-tracing {
  width: 1.0078125em;
}

.icon-twitter {
  width: 1.2001953125em;
}

.icon-user {
  width: 0.841796875em;
}
